@import "text_style";

body{
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}
h1{
    color: $color_titulo;
    text-align: center;
    font-family: $font_titulo;
    font-size: 50px;
    padding-top: 30px;
}
/* diseño del menu de inicio */
nav{
    background-color: #E6BA95;
    a{
        font-size: 20px;
        font-family: $font_texto;
        color: $color_texto;
        text-decoration: none;
    }
}
/* diseño footer */
footer{
    background-color: #E0DDAA;
        .texto_footer{
            text-align: center;
            color: $color_texto;
         } 
        .logo_footer{
            width: 75px;
            height: 75px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        } 
        .nav-item-footer{
            font-size: 12px;
            font-family: $font_texto;
            color: $color_texto;
            text-decoration: none;
            display: inline;
        }
}
/* diseño index*/
.texto_inicio{
    color: $color_texto;
    text-align: center;
    font-family: $font_texto;
    font-size: 18px;
    padding: 20px;
}
.image_index{
    width: 250px;
    height: 250px;
    text-align: center;
    margin-bottom: 30px;
    transition: all 1s;
    &:hover{
        transform: scale(1.1);
    }
}
/*Map Index*/
$estilos-index: (
    align: center,
    color: $color_texto,
    font-size1: 18px,
    font-size2: 22px,
);
texto_inicio{
   font-size: map-get($map: $estilos-index, $key: font-size1);
}
/* diseño servicios */
@mixin bordes(){
    border: 5px double #A2B38B;
    border-radius: 15%;
}
.servicios{
    font-family: $font_texto;
    color: $color_texto_servicios;
    @include bordes();
    transition: all 1s;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    width: 200px;
    &:hover{
        transform: scale(1.1);
        background-color: #E6BA95;

    }
    .img_servicios{
        width: 100px;
        height: 100px;
    }
}
/* diseño sobre nosotros*/
.about_us_text{
    padding-top: 60px;
    @extend .texto_inicio
}
.about_us_text{
    animation-name:un_efecto;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 1s;
}
.about_us_image{
    width: 75%;
    height: 75%;
    padding: 10px;
    padding-left: 20px;
}
@keyframes un_efecto {
    0%   {background-color: #FAFDD6;}
    50%  {background-color: #E6BA95;}
    100% {background-color: #FAFDD6;}
}
@media screen and (max-width:992px){
    .about_us_text{
        font-size: 15px;
        padding-top: 0px;
    }
    .about_us_image_flex{
       display: flex;
       flex-wrap: wrap;
    }
}
/* Diseño Galería */
.image_galery{
    width: 290px;
    height: 200px;
    text-align: center;
    margin: 10px;
    border: 1px solid #5F7464;
    transition: all 1s;
    &:hover{
        transform: scale(1.1);
    }
}
/* diseño formulario de contacto*/
#form{
    font-family: $font_texto;
    color: $color_texto_servicios;
    padding: 10px;
    width: 33%;
    margin-left: 33%;
}
.button_contact{
    background-color: $color_titulo;
}
.form-control{
    padding: 10px;
}
@media screen and (max-width:992px){
    #form{
        margin-left: 0%;
        width: 100%;
    }
}